@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #f3f5f9;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    width: 200px;
    height: 100%;
    background: #fd04d3;
    padding: 30px 0px;
    position: fixed;
}

.wrapper .sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
    color: #ffffff;
    display: block;
}

.wrapper .sidebar ul li a .fas {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background-color: #9e0696;
}

.wrapper .sidebar ul li:hover a {
    color: #fff;
}

.wrapper .sidebar .social_media {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.wrapper .sidebar .social_media a {
    display: block;
    width: 40px;
    background-color: #9e0696;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.wrapper .main_content {
    width: 100%;
    margin-left: 200px;
}

.wrapper .main_content .header {
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info {
    margin: 20px;
    color: #717171;
    line-height: 25px;
}

.wrapper .main_content .info div {
    margin-bottom: 20px;
}

.card {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 330px;
    height: 220px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

:root {
    --light: #E2E2E2;
    --primary: rgb(9, 9, 71);
    --secondary: rgb(70, 70, 55);
    
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--light);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 100%;
    display: block;
}

h1 {
    color: var(--secondary);
    text-align: center;
    text-transform: uppercase;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.card-header {
    height: 200px;
    width: 100%;
    object-position: 50% 50%;
    object-fit: cover;
}

.card-title {
    text-align: center;
    margin: 0;
}

.card-description {
    flex-grow: 1;
}

.card-header img {
    border-radius: 10px 10px 0 0;
}

.card-body {
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    padding: 20px 15px;
    text-align: justify;
    border: 1px solid #ccc;
}

.btn {
    display: block;
    background-color: #8f0378;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

@media(min-width: 480px) {
    .contenedor {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .card {
        display: flex;
        flex-direction: column;
    }

    .card-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}
.background{
    font-family: 'Roboto';
    background: #0099F7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f50404, #0099F7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fa029b, #0099F7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    font-weight:700;
}
form{
    background: #fff;
    padding: 40px 0;
    box-shadow:0 0 6px 0 rgba (255, 255, 255, 0.8) ;
    border-radius: 10px;  
}
.form{
    width:100%;
    margin: auto;
}
form .grupo{
    position: relative;
    margin: 45px;
}
input{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--primary);   
}
input:focus{
    outline: none;
    color: #5e5d5d;
}
label{
    color: var(--primary);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.3s ease all;
    pointer-events: none;
}
input:focus~label,
input:valid~label{
top: -14px;
font-size: 12px;
color:#2196f3;
}
.barra{
   position: relative;
   display: block;
   width: 100%; 
}
.barra::before{
    content: "";
    height: 2px;
    width:0%;
    bottom: 0%;
    position: absolute;
    background: linear-gradient(to right, #f112b9, #0099F7);
    transition: 0.3s ease width;
    left: 0;
}
input:focus~barra::before{
   width: 100%;
}
button{
    font-family: 'roboto';
    background: #0099F7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f50490, #0099F7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fa02ed, #0099F7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

